/* Global & Utilities */

* {
    font-family: 'Fira Sans', sans-serif;
    border-style: none;
}

.flex {
    display: flex;
}

.hide {
    display: none;
}

.monospace {
    font-family: 'Fira Code', monospace;
}

main {
    flex-direction: column;
    justify-content: space-around;
}

button,
input[type="submit"],
input[type="text"] {
    padding: 1em;
    margin: 5px;
    font-size: 1em;
    border: 0.5px solid black;
}

/* Landing page */

h1 {
    font-size: 3em;
}

ul {
    list-style-type: none;
    padding: 0px;
}

#landing,
#start-menu {
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#start-btn {
    font-size: 3em;
}

/* Quiz elements */

header {
    justify-content: space-around;
    margin-bottom: 3em;
    font-size: 1.1em;
}

img {
    padding-right: 32px;
    border-right: 1px solid black;
    width: 50px;
}

.side {
    margin: 0.5em;
    flex-direction: column;
}

#question-container {
    align-items: center;
}

#question-container>div {
    align-items: center;
    font-size: 1.5em;
}

#question-number {
    padding-left: 32px
}

#answers-container {
    justify-content: flex-end;
}

/* Scoreboard */
label {
    font-size: 1.5em;
}

#score-form {
    margin-top: 2em;
}

#scores-list {
    font-size: 1.2em;
}

#score-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#scoreboard-container {
    flex-direction: column;
}

#scoreboard-container>ul {
    display: flex;
    flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
    header {
        margin-bottom: 4em;
    }

    main {
        flex-direction: row;
    }

    .side {
        margin: 4em;
    }

    #question-container {
        align-items: flex-start;
    }
}

@media screen and (min-width: 992px) {
    main {
        margin: auto 10em auto 10em;
    }
}
